.header {
	height: 140px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	background-color: #37b3fe;
	color: black;
	background-image: url("../../../public/assets/images/casaNostra.jpg");
}

.logo-header {
	margin-right: 20px;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-radius: 5%;
	margin-left: 8px;
}

.header h1 {
	font-size: 64px;
	color: white;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;
	font-family: "Gilroy-Black", sans-serif;
	text-align: center;
	line-height: 0.8;
}
