.season-folder {
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 16px;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	background-color: whitesmoke;
	background-size: cover;
	background-blend-mode: multiply;
}

.season-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	cursor: pointer;
	background-color: #37b3fe;
	border: solid 2px black;
	color: white;
	font-family: "Gilroy-Black", sans-serif;
}

.season-header h3 {
	margin: 0;
	font-size: 24px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.toggle-button {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: white;
}

.season-episodes {
	transition: max-height 0.3s ease-out;
	overflow-y: auto;
	max-height: 0;
}

.season-episodes.open {
	max-height: 70vh;
}

.season-episodes.closed {
	max-height: 0;
}

.episode-item {
	display: flex;
	padding: 16px;
	border-bottom: 1px solid #ddd;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
}

.episode-item:last-child {
	border-bottom: none;
}

.episode-image {
	width: 60px;
	height: 60px;
	border-radius: 8px;
	object-fit: cover;
	margin-right: 16px;
}

.episode-details {
	flex: 1;
}

.episode-details strong {
	display: block;
	font-size: 18px;
	color: black;
	margin-bottom: 4px;
	font-family: "Gilroy-Black", sans-serif;
}

.episode-details p {
	margin: 0;
	color: #666;
	font-size: 16px;
}
