.layout {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.header,
.footer {
	width: 100%;
}

.main-layout {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 10px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	flex-grow: 1;
}

.main-column {
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.aside-left {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar {
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 30px;
}

/* Media query for medium screens */
@media (max-width: 1200px) {
	.main-layout {
		grid-template-columns: 1fr 2fr 1fr;
	}
}

/* Media query for smaller screens */
@media (max-width: 800px) {
	.main-layout {
		grid-template-columns: 1fr;
	}

	.sidebar {
		display: none;
	}
}

/* Media query for very small screens */
@media (max-width: 500px) {
	.header,
	.footer {
		padding: 10px;
	}

	.main-layout {
		padding: 10px;
	}

	.main-column {
		gap: 10px;
	}
}
