.cnavbar {
	box-sizing: border-box;
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap; /* Allow links to wrap on smaller screens */
	width: 100%;
	box-sizing: border-box;
}

.links {
	font-family: "Gilroy-Bold", sans-serif;
	text-decoration: none;
	color: whitesmoke;
	font-size: 24px;
	padding: 10px;
	transition: font-size 0.3s, color 0.3s;
}

.links:hover {
	color: whitesmoke;
	font-size: 28px;
}

/* Media query for medium screens */
@media (max-width: 800px) {
	.cnavbar {
		flex-direction: column; /* Stack links vertically */
	}

	.links {
		font-size: 20px;
		padding: 8px;
	}
}

/* Media query for smaller screens */
@media (max-width: 500px) {
	.cnavbar {
		padding: 5px;
	}

	.links {
		font-size: 18px;
		padding: 6px;
	}
}
