.podcast-episode {
	display: flex;
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.8);
	background-size: cover;
	background-blend-mode: multiply;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.podcast-episode:hover {
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.podcast-episode-image img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	object-fit: cover;
	margin-right: 16px;
}

.podcast-episode-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.podcast-episode-details strong {
	font-size: 16px;
	color: black;
	margin-bottom: 8px;
	font-family: "Gilroy-Medium", sans-serif;
}

.podcast-episode-details p {
	margin: 4px 0;
	color: #666;
	font-size: 14px;
}

.podcast-episode-links audio {
	margin-top: 8px;
	width: 100%;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 4px;
	background-color: #fff;
}
