.post-read {
	box-sizing: border-box;
	max-width: 90%;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.post-read h1 {
	font-size: 2em;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.post-read small {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

/* Share Buttons */
.share-buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.share-buttons button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 1em;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
}

.share-buttons button:hover {
	background-color: #e0e0e0;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.author-info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.author-socials {
	display: flex;
	gap: 5px;
	margin-left: 10px;
}

.author-socials a {
	font-size: 1.2em;
	color: #000;
}

.author-socials a:hover {
	color: #555;
}

@media (max-width: 768px) {
	.post-read {
		padding: 10px;
	}

	.author-image {
		width: 40px;
		height: 40px;
	}

	.share-buttons button {
		font-size: 0.8em;
		width: 30px;
		height: 30px;
	}

	.author-socials a {
		font-size: 1em;
	}
}

@media (max-width: 480px) {
	.post-read h1 {
		font-size: 1.5em;
	}

	.share-buttons {
		justify-content: left;
		width: 100%;
	}

	.share-buttons button {
		font-size: 0.8em;
		width: 30px;
		height: 30px;
	}

	.author-info {
		flex-direction: column;
		align-items: flex-start;
	}

	.author-socials {
		margin-left: 0;
	}
}

/* Markdown Content Styles */
.markdown-content {
	font-family: "Gilroy-Light", sans-serif;
	line-height: 1.5;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
	font-family: "Gilroy-Medium", sans-serif;
}

.markdown-content img,
.markdown-content iframe {
	display: block;
	max-width: 80%;
	margin: 20px auto;
}

.markdown-content p,
.markdown-content ul,
.markdown-content ol,
.markdown-content blockquote,
.markdown-content pre {
	margin: 1em 0;
}

.markdown-content ul,
.markdown-content ol {
	padding-left: 20px;
}

.markdown-content a {
	color: #007bff;
	text-decoration: none;
}

.markdown-content a:hover {
	text-decoration: underline;
}
