body {
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	width: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@font-face {
	font-family: "Gilroy-Bold";
	src: local("Gilroy-Bold"),
		url(/fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Gilroy-Medium";
	src: local("Gilroy-Medium"),
		url(/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
	font-family: "Gilroy-Light";
	src: local("Gilroy-Light"),
		url(/fonts/gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Gilroy-Black";
	src: local("Gilroy-Black"),
		url(/fonts/gilroy/Gilroy-Black.ttf) format("truetype");
}
