.layout {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.main-layout {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 10px;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	flex-grow: 1;
}

.main-column-grid {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.sidebar {
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Media query for medium screens */
@media (max-width: 1200px) {
	.main-layout {
		grid-template-columns: 1fr 2fr 1fr;
	}
}

/* Media query for smaller screens */
@media (max-width: 800px) {
	.main-layout {
		grid-template-columns: 1fr;
	}

	.main-column-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Media query for very small screens */
@media (max-width: 500px) {
	.main-column-grid {
		grid-template-columns: 1fr;
	}

	.sidebar {
		display: none;
	}

	.main-layout {
		padding: 10px;
	}
}
